<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/markdown.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  </head>
  <body>
    <script>hljs.highlightAll();</script>
    {% assign fullpath = page.dir | split: "/"%}
    {% assign lastpath = fullpath | last%}
    {%assign backpath = page.dir | remove_first:lastpath | split: "" | reverse | join: "" | remove_first: "//"  | split: "" | reverse | join: ""%}
    <img src = "/foldback.png" class="fileicon"width = 16px height = 16px><a href = "{{backpath}}" title="Go Back">Back to tatiaart.github.io{{backpath}}</a><br>
    <a href = {{page.dir | split: "" | reverse | join: "" | remove_first: "/" | split: "" | reverse | join: ""}}.zip title="Click to download" class="download_link">
      <div>
      <img src="/download.png" width = 32px height = 32px>
      <span>Download this package</span></div></a>
    {{ content }}
  </body>
</html>